---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.12.0
  name: awsvalidators.validation.spectrocloud.labs
spec:
  group: validation.spectrocloud.labs
  names:
    kind: AwsValidator
    listKind: AwsValidatorList
    plural: awsvalidators
    singular: awsvalidator
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: AwsValidator is the Schema for the awsvalidators API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AwsValidatorSpec defines the desired state of AwsValidator
            properties:
              iamRules:
                items:
                  properties:
                    iamPolicies:
                      items:
                        properties:
                          statement:
                            items:
                              properties:
                                action:
                                  items:
                                    type: string
                                  type: array
                                effect:
                                  type: string
                                resource:
                                  type: string
                              required:
                              - action
                              - effect
                              - resource
                              type: object
                            type: array
                          version:
                            type: string
                        required:
                        - statement
                        - version
                        type: object
                      type: array
                    iamRole:
                      type: string
                  type: object
                type: array
              tagRules:
                items:
                  properties:
                    subnetTagRules:
                      items:
                        properties:
                          key:
                            type: string
                          name:
                            type: string
                          region:
                            type: string
                          value:
                            type: string
                        required:
                        - key
                        - name
                        - region
                        - value
                        type: object
                      type: array
                  type: object
                type: array
            type: object
          status:
            description: AwsValidatorStatus defines the observed state of AwsValidator
            properties:
              conditions:
                items:
                  properties:
                    lastProbeTime:
                      format: date-time
                      type: string
                    lastTransitionTime:
                      format: date-time
                      type: string
                    message:
                      description: Human-readable message indicating details about
                        last transition.
                      type: string
                    reason:
                      description: Unique, one-word, CamelCase reason for the condition's
                        last transition.
                      type: string
                    status:
                      type: string
                  required:
                  - status
                  type: object
                type: array
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
